{erl_opts, [debug_info]}.
{deps, [
    {meck, "1.1.0"},
    {erl_utils, {git, "https://github.com/okayno14/erl_utils.git", {branch, "v2"}}}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [redmine_tracker]}
]}.

{profiles, [
  {test, [
    % {ct_opts, [{sys_config, "config/test.config"}]},
    {eunit_opts, [{sys_config, "config/sys.config"}]}
  ]}
]}.
