[
    {kernel, [
        {logger_level, info},
        {logger, [
            %% ПОЧЕМУ-ТО НЕ РАБОТАЕТ, скорее всего химичит rebar3
            {module_level, debug, [track, track_composed]},
            {handler, default, logger_std_h, #{
                filter_default => log,
                formatter => {logger_formatter,
                    #{
                        template => [
                            time,
                            " ",
                            level,
                            " ",
                            pid,
                            " [",
                            mfa,
                            ":",
                            line,
                            "]\: ",
                            msg,
                            "\n"
                        ],
                        single_line => false,
                        time_designator => $\s
                    }
                }
            }}
        ]}
    ]},
    %% TODO перетащить в .app.src-файлик
    {redmine_tracker, [
        {socket, <<"/tmp/redmine_tracker.sock">>},
        {api_key, <<"1234">>},
        {user_id, 1234},
        {redmine_instance, <<"https://redmine.org">>},
        {activities, #{
                <<"Design">> => 8,
                <<"Code">> => 9,
                <<"Code Review">> => 90,
                <<"Analysis" >> => 96,
                <<"Discuss">> => 10,
                <<"Test">> => 11,
                <<"Management">> => 12,
                <<"Documentation">> => 13,
                <<"Support">> => 14
        }}
    ]}
].
