[
    {kernel, [
        {logger_level, info},
        {logger, [
            %% ПОЧЕМУ-ТО НЕ РАБОТАЕТ, скорее всего химичит rebar3
            {module_level, debug, [track, track_composed]},
            {handler, default, logger_std_h, #{
                filter_default => log,
                formatter => {logger_formatter,
                    #{
                        template => [
                            time,
                            " ",
                            level,
                            " ",
                            pid,
                            " [",
                            mfa,
                            ":",
                            line,
                            "]\: ",
                            msg,
                            "\n"
                        ],
                        single_line => false,
                        time_designator => $\s
                    }
                }
            }}
        ]}
    ]},
    %% TODO перетащить в .app.src-файлик
    {redmine_tracker, [
    ]}
].
