[
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                filter_default => log,
                formatter => {logger_formatter,
                    #{
                        template => [
                            time, " ",
                            level, " ",
                            pid,
                            " [", mfa, ":", line, "]\: ",
                            msg,
                            "\n"
                        ],
                        single_line => false,
                        time_designator => $\s
                    }
                }
            }}
        ]}
    ]},
    {redmine_tracker, [
      {api_key, <<"SOME_KEY">>},
      {user_id, 1},
      {redmine_instance, <<"SOME_REDMINE_URL">>},
      {activities, #{
       <<"Code">> => 1,
       <<"Code Review">> => 2,
       <<"Test">> => 3,
       <<"Documentation">> => 4
      }}
    ]}
].
